
.bg 
{	
	position: relative;
	background: url("newstarfield.png");
	background-size: cover;
	width: 1200;
	height: 800px;
	text-align: center;
}


.loseAlert {
	color: white;
	text-align: center;
	margin-left: 600px;
	margin-top: 200px;
	border: 5px solid transparent;
	z-index: 100;
	position: absolute;
	display: none;
}
#mobilesuit {
	height: 260px;
	width: 390px;
	position: absolute;
	background: url('sfreedom.png');
	background-size: cover;

}
#earth {
	background: url('Planeta-Terra.png');
	height: 800px;
	width: 800px;
	top: 150px;
	left: 150px;
}
#zaku {	

	background: url('zaku.png');

	height: 230px;
	width: 330px;
	top:50px;
	left: 1000px;
	position: absolute;
	background-size: cover;
}
#blasts{
	width: 1000px;
	height: 800px;
	position: absolute;

}
.blast {
	background: url('blast.png');
	height: 40px;
	width: 45px;
	top: 75px;
	left: 100px;
	position: absolute;

}
#reset {
	color: ;
}



