body {
	
	margin: 0;
	padding: 0;
}

.bg 
{	
	position: relative;
	background: url("newstarfield.png");
	width: 1200;
	height: 170vh;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animate 15s linear infinite;
}
#mobilesuit {
	height: 364px;
	width: 545px;
	position: relative;
	top:100px;
	left: 100px;	
	background: url('sfreedom.png');
	background-size: cover;

}

#energyblast {
	background: url('blast.png');
	background-size: cover;
	position: absolute;
	height: 42px;
	width: 45px;
	display: none;

}
	

@keyframes animate 
{
	from {background-position: 0 0;}

	to {background-position: 100% 0;}
}